<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LYV.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B9F5604A2C490186003462CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9F560632C490188003462CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9F5606D2C490188003462CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
